<!DOCTYPE html>
<html>
  <head>
    <%- include ('partials/head');%>
  </head>
  <%- include("partials/loader")%> <%- include ('partials/header');%>
  <div id="tt-pageContent">
    <%if (message != "undefined") { %>
    <div
      class="form-group form-control error"
      style="
        background-color: #ffcccc;
        font-weight: bold;
        color: rgb(210, 29, 29);
      ">
      <%= message %>
    </div>
    <% } %>
    <div class="latest-products">
      <div class="container">
        <div class="row">
          <!-- <div class="col-md-3">
            <form method="GET">
              <div class="tt-collapse open">
                <h3 class="tt-collapse-title">Category</h3>
                <div class="tt-collapse-content">
                  <ul class="tt-list-row" id="product-price">
                    <% categories.forEach(element => {%>    
                      <li><input type="radio" name="category" value="<%= element.name %>"><%= element.name %> </li>               
                    <%});%>
                  </ul>
                </div>
              </div>
              <div class="tt-collapse open">
                <h3 class="tt-collapse-title">Teacher</h3>
                <div class="tt-collapse-content">
                  <ul class="tt-list-row" id="product-size">
                    <% userList.forEach(element => {%>    
                      <li><input type="radio" name="teacher" value="<%= element.name %>"><%= element.username %> </li>               
                    <%});%>
                  </ul>
                </div>
              </div>
              <button type="submit" class="btn btn-border mx-auto mb-5">Filter</button>
              </form>
          </div> -->
          
            <% course.forEach(course=> {%>

              <div class="col-md-4">
                <% if (user.role==1){%> 
                  <% if (course.isComplete===true){%>
                <h2>Complete</h2>
                <%}%> 
                <% if (course.isComplete===false){%>
                <a href="/course-list" class="btn btn-border">Complete</a>
                <%}%> 
                <%}%>
                <div class="product-item">
                  <a href="/course-detail/<%=course._id%>"><img src="/images/<%= course.image %>" alt=""></a>
                      <div class="down-content">
                        <a href="/course-detail/<%=course._id%>">
                          <h4 class="textlimit"><%= course.name %></h4>
                        </a>
                        <h6>Price: <%= course.price %></h6>
                        <p class="textlimit">Category: <%= course.category%></p>
                        <p class="textlimit">Teacher: <%= course.teacher %></p>
                        <ul class="stars">
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span>Reviews (24)</span>
                     
                      </div>
                      <% if (user.role===0){%>
                        <a href="/user-study/<%= course._id %>/0/0" class="btn btn-border"
                          >Study Now</a
                        >
                        <%}%> <% if (user.role===1){%>
                        <a href="/info-change" class="btn btn-border">Change</a>
                        <a href="/teacher-list" class="btn btn-border">Delete</a>
                        <%}%> <% if (user.role===2){%> <%if (course.disable==false) { %>
                        <a href="/lock-course/<%= course._id %>" class="btn btn-border"
                          >Disable</a
                        >
                        <% } %> <%if (course.disable==true) { %>
                        <a href="/lock-course/<%= course._id %>" class="btn btn-border"
                          >Able</a
                        >
                        <% } %>
                        <a href="/teacher-list" class="btn btn-border">Delete</a>
                        <%}%>
                  </div>
              </div>
          
            <% }); %>
          \
        
        </div>
      </div>
    </div>
  </div>

  <%- include("partials/script") %>
  <footer><%- include('partials/footer'); %></footer>
</html>
