<!DOCTYPE html>
<html>

<head>
    <%- include ('partials/head');%>
</head>
<%- include("partials/loader")%>
    <%- include ('partials/header');%>
        <div id="tt-pageContent"></div>
        <div class="container-indent">
            <div class="container container-fluid-custom-mobile-padding">
                <h1 class="tt-title-subpages noborder">My Course</h1>
                <div class="tt-wrapper" style="margin-bottom: 50px;">
                    <div class="tt-table-responsive">
                        <table class="tt-table-shop-02">
                            <tbody>
                                <tr>
                                 <td>
                                     <img src="/images/<%= courses.image %>" width="300px" hight="300px">                                         
                                    
                                 </td>
                                 <td>
                                     <tr>
                                         <td>Name:</td>
                                         <td>
                                             <%= courses.name %>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td>Description</td>:</td>
                                         <td>
                                             <%= courses.description %>
                                         </td>
                                     </tr>
                                     <tr>
                                         <td>Price:</td>
                                         <td>
                                             <%= courses.price %>
                                         </td>
                                     </tr>
                                 </td>
                                </tr>
                             </tbody>
                        </table>
                    </div>
                    <a href="/add-chapter/<%= courses._id %>" class="btn btn-border">Add Chapter</a>
                </div>
           <% if (courses.chapter!=[]){%> 
            <% courses.chapter.forEach(chapter=>{%> 
                <div class="tt-table-responsive">
                    <table class="tt-table-shop-02">
                           <tbody>
                            <tr>
                                <div class="d-flex justify-content-between">
                                    <h4><%= chapter.name %></h4>                         
                                    <a href="/add-lesson/<%= chapter._id %>" class="btn btn-border">Add Lesson</a>
                               </div>
                            </tr>
                          <tr>
                            <% chapter.lesson.forEach(lesson=>{%>
                                <tr>
                                    <td><%= lesson.name %></td> 
                                </tr>                   
                            <%});%>
                          </tr>
                           </tbody>
                    </table>
                </div>
                <%});%>
            <%}%>
            </div>
        </div>
    </div>
         </script>
        <%- include("partials/script") %>
            <footer>
                <%- include('partials/footer'); %>
            </footer>

</html>