<!DOCTYPE html>
<html>
  <head>
    <%- include ('partials/head');%>
  </head>
  <%- include("partials/loader")%>
   <%- include ('partials/header');%>
  <div id="tt-pageContent">
  
    <div class="latest-products">
      <div class="container">
        <div class="row">
          
            <% course.forEach(course=> {%>

              <div class="col-md-4">
                <% if (user.role==1){%> 
                  <% if (course.isComplete===true){%>
                  <h2>Complete</h2>
                  <%}%> 
                  <% if (course.isComplete===false){%>
                    <a href="/course-list" class="btn btn-border">Complete</a>
                  <%}%> 
                <%}%>
                <div class="product-item">
                  <a href="/course-detail/<%=course._id%>"><img src="/images/<%= course.image %>" alt=""></a>
                      <div class="down-content">
                        <a href="/course-detail/<%=course._id%>">
                          <h4 class="textlimit"><%= course.name %></h4>
                        </a>
                        <h6>Price: <%= course.price %></h6>
                        <p class="textlimit">Category: <%= course.category%></p>
                        <p class="textlimit">Teacher: <%= course.teacher %></p>
                        <ul class="stars">
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span>Reviews (24)</span>
                     
                      </div>
                      
                        <%if (typeof(user)!==undefined) { %>
                          <% if (user.role===0){%>
                            <a href="/user-study/<%= course._id %>/0/0" class="btn btn-border"
                              >Study Now</a>
                            <% } %>
                           <% if (user.role===2){%>
                             <%if (course.disable==false) { %>
                            <a href="/lock-course/<%= course._id %>" class="btn btn-border">Disable</a>
                            
                            <% } %>
                             <%if (course.disable==true) { %>
                            <a href="/lock-course/<%= course._id %>" class="btn btn-border">Able</a>
                            <% } %>
                          <% } %>
                          <% } %>
                  </div>
              </div>
          
            <% }); %>
          
        </div>
      </div>
    </div>
  </div>

  <%- include("partials/script") %>
  <footer><%- include('partials/footer'); %></footer>
</html>
