<!DOCTYPE html>
<html>
  <head>
    <%- include ('partials/head');%>
  </head>
  <%- include("partials/loader")%> <%- include ('partials/header');%>
  <div id="tt-pageContent"></div>
  <div class="container-indent">
    <div class="container container-fluid-custom-mobile-padding">
      <h1 class="tt-title-subpages noborder">My Course</h1>
      <% course.forEach(course=> {%>
      <div class="tt-wrapper" style="margin-bottom: 50px">
        <% if (course.isComplete===true){%>
        <h2>Complete</h2>
        <%}%> <% if (course.isComplete===false){%>
        <a href="/course-list" class="btn btn-border">Complete</a>
        <%}%>
        <div class="tt-table-responsive">
          <table class="tt-table-shop-02">
            <tbody>
              <tr>
                <td>
                  <img
                    src="/images/<%= course.image %>"
                    width="300px"
                    hight="300px"
                  />
                </td>
                <td>
                  <tr>
                    <td>Name:</td>
                    <td>
                      <a href="/course-detail/<%=course._id%>">
                        <%= course.name %>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>Description</td>
                    :
                  </tr>
                </td>

                <td><%= course.description %></td>
              </tr>
              <tr>
                <td>Price:</td>
                <td><%= course.price %></td>
              </tr>
            </tbody>
          </table>
        </div>

        <% if (user.role===1){%>
        <a href="/info-change" class="btn btn-border">Change</a>
        <a href="/teacher-list" class="btn btn-border">Delete</a>
        <%}%> <% if (user.role===2){%>
        <a href="/teacher-list" class="btn btn-border">Delete</a>
        <%}%>
      </div>
      <% }); %>
    </div>
  </div>

  <%- include("partials/script") %>
  <footer><%- include('partials/footer'); %></footer>
</html>
