<!DOCTYPE html>
<html>


      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    
    </div>
  <%- include("partials/head") %>
</head>
<body>
  <%- include("partials/header") %>
  <%- include("partials/loader")%>
  <!-- Banner Starts Here -->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <% Buy.forEach((buy, index)=>{%>
        <div class="carousel-item <%=index === 0 ? 'active' : ''%>"  data-bs-interval="10000">
          <img src="/images/<%= buy.image %>" class="d-block w-100" alt="...">
        </div>
        <%});%>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <div class="latest-products">
    <div class="container">
   <!-- Lượt xem nhiều nhất -->
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Most viewed Course</h2>
            <a href="products.html">view all products <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      <% viewCourse.forEach(trend=>{%>
        <div class="col-md-4">
          <div class="product-item">
            <a href="/course-detail/<%=trend._id%>"><img src="/images/<%= trend.image %>" alt=""></a>
                <div class="down-content">
                  <a href="/course-detail/<%=trend._id%>">
                    <h4 class="textlimit"><%= trend.name %></h4>
                  </a>
                  <h6>Price: <%= trend.price %></h6>
                  <p class="textlimit">Category: <%= trend.category%></p>
                  <p class="textlimit">Teacher: <%= trend.teacher %></p>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                  <span>Reviews (24)</span>
               
                </div>
            </div>
        </div>
      <%});%>
      </div>
    <!-- Được mua nhiều nhất -->
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Most Bought Course</h2>
            <a href="products.html">view all products <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      <% Buy.forEach(buy=>{%>
        <div class="col-md-4">
          <div class="product-item">
            <a href="/course-detail/<%=buy._id%>"><img src="/images/<%= buy.image %>" alt=""></a>
                <div class="down-content">
                  <a href="/course-detail/<%=buy._id%>">
                    <h4 class="textlimit"><%= buy.name %></h4>
                  </a>
                  <h6>Price:<%= buy.price %></h6>
                  <p class="textlimit">Category:<%= buy.category %></p>
                  <p class="textlimit">Teacher: <%= buy.teacher %></p>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                  <span>Reviews (24)</span>
               
                </div>
            </div>
        </div>
      <%});%>
      </div>
    <!-- Khóa học mới nhất -->
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>New Course</h2>
            <a href="products.html">view all products <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      <% newCourse.forEach(course=>{%>
        <div class="col-md-4">
          <div class="product-item">
            <a href="/course-detail/<%=course._id%>"><img src="/images/<%= course.image %>" alt=""></a>
                <div class="down-content">
                  <a href="/course-detail/<%=course._id%>">
                    <h4 class="textlimit"><%= course.name %></h4>
                  </a>
                  <h6>Price: <%= course.price %></h6>
                  <p class="textlimit">Category: <%= course.category %></p>
                  <p class="textlimit">Teacher: <%= course.teacher %></p>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                  <span>Reviews (24)</span>
               
                </div>
            </div>
        </div>
      <%});%>
      </div>
    </div>
  </div>

</body>
<%- include("partials/script") %>
<footer>
  <%- include("partials/footer") %>
</footer>

</html>