<!DOCTYPE html>
<html>


      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    
    </div>
  <%- include("partials/head") %>
</head>
<body>
  <%- include("partials/loader")%>
  <%- include("partials/header") %>
  <!-- Banner Starts Here -->
  <div class="banner header-text">
    <div class="owl-banner owl-carousel">
      <div class="banner-item-01">
        <div class="text-content">
          <h4>Best Offer</h4>
          <h2>New Arrivals On Sale</h2>
        </div>
      </div>
      <div class="banner-item-02">
        <div class="text-content">
          <h4>Flash Deals</h4>
          <h2>Get your best products</h2>
        </div>
      </div>
      <div class="banner-item-03">
        <div class="text-content">
          <h4>Last Minute</h4>
          <h2>Grab last minute deals</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- Banner Ends Here -->

  <div class="latest-products">
    <div class="container">
   <!-- Lượt xem nhiều nhất -->
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Most viewed Course</h2>
            <a href="products.html">view all products <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      <% viewCourse.forEach(trend=>{%>
        <div class="col-md-4">
          <div class="product-item">
            <a href="/course-detail/<%=trend._id%>"><img src="/images/<%= trend.image %>" alt=""></a>
                <div class="down-content">
                  <a href="/course-detail/<%=trend._id%>">
                    <h4><%= trend.name %></h4>
                  </a>
                  <h6><%= trend.price %></h6>
                  <p><%= trend.description %></p>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                  <span>Reviews (24)</span>
               
                </div>
            </div>
        </div>
      <%});%>
      </div>
    <!-- Được mua nhiều nhất -->
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Most Bought Course</h2>
            <a href="products.html">view all products <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      <% Buy.forEach(buy=>{%>
        <div class="col-md-4">
          <div class="product-item">
            <a href="/course-detail/<%=buy._id%>"><img src="/images/<%= buy.image %>" alt=""></a>
                <div class="down-content">
                  <a href="/course-detail/<%=buy._id%>">
                    <h4><%= buy.name %></h4>
                  </a>
                  <h6><%= buy.price %></h6>
                  <p><%= buy.description %></p>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                  <span>Reviews (24)</span>
               
                </div>
            </div>
        </div>
      <%});%>
      </div>
    <!-- Khóa học mới nhất -->
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>New Course</h2>
            <a href="products.html">view all products <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      <% newCourse.forEach(course=>{%>
        <div class="col-md-4">
          <div class="product-item">
            <a href="/course-detail/<%=course._id%>"><img src="/images/<%= course.image %>" alt=""></a>
                <div class="down-content">
                  <a href="/course-detail/<%=course._id%>">
                    <h4><%= course.name %></h4>
                  </a>
                  <h6><%= course.price %></h6>
                  <p><%= course.description %></p>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                  <span>Reviews (24)</span>
               
                </div>
            </div>
        </div>
      <%});%>
      </div>
    </div>
  </div>

  <div class="best-features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>About Sixteen Clothing</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="left-content">
            <h4>Looking for the best products?</h4>
            <p><a rel="nofollow" href="https://templatemo.com/tm-546-sixteen-clothing" target="_parent">This
                template</a> is free to use for your business websites. However, you have no permission to redistribute
              the downloadable ZIP file on any template collection website. <a rel="nofollow"
                href="https://templatemo.com/contact">Contact us</a> for more info.</p>
            <ul class="featured-list">
              <li><a href="#">Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">Consectetur an adipisicing elit</a></li>
              <li><a href="#">It aquecorporis nulla aspernatur</a></li>
              <li><a href="#">Corporis, omnis doloremque</a></li>
              <li><a href="#">Non cum id reprehenderit</a></li>
            </ul>
            <a href="about.html" class="filled-button">Read More</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-image">
            <img src="assets/images/feature-image.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<%- include("partials/script") %>
<footer>
  <%- include("partials/footer") %>
</footer>

</html>