<!DOCTYPE html>
<html>
    <head>
        <%- include ('partials/head');%>
    </head>
    <%- include("partials/loader")%>
    <%- include ('partials/header');%>
      <div id="tt-pageContent">
        <div class="container-indent">
          <div class="container container-fluid-custom-mobile-padding">
            <div class="tt-shopping-layout">
              <div class="tt-wrapper">
                <h3 class="tt-title">Thông tin tài khoản</h3>
                <div class="tt-table-responsive">
                  <table class="tt-table-shop-02">
                    <tbody>
                      <tr>
                        <td>Tên:</td>
                        <td><%= user.firstName %> <%= user.lastName %></td>
                      </tr>
                      <tr>
                        <td>E-MAIL:</td>
                        <td><%= user.email %></td>
                      </tr>
                      <tr>
                        <td>Địa chỉ:</td>
                        <td>
                          <%= user.address %>
                        </td>
                      </tr>
  
                      <tr>
                        <td>Số điện thoại:</td>
                        <td><%= user.phoneNumber %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <a href="/info-change" class="btn btn-border"
                  >Thay đổi thông tin</a
                >
              </div>
              <a href="/password-change" class="btn btn-border">Đổi mật khẩu</a>
            </div>
          </div>
        </div>
      </div>
      <%- include("partials/script") %>
     <footer>
        <%- include('partials/footer'); %> 
     </footer>
</html>