<!DOCTYPE html>
<html>

<head>
    <%- include ('partials/head');%>
</head>
<%- include("partials/loader")%>
    <%- include ('partials/header');%>
        <div id="tt-pageContent">
            <div class="container-indent">
                <div class="container container-fluid-custom-mobile-padding">
                    <h1 class="tt-title-subpages noborder">Tài khoản</h1>
                    <%if (userList != null){ userList.forEach(function(item) {%>
                        <div class="tt-wrapper" style="margin-bottom: 50px;">
                            <div class="tt-table-responsive">
                                <table class="tt-table-shop-02">
                                    <tbody>
                                        <tr>
                                            <td>Username:</td>
                                            <td>
                                                <%= item.username %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>E-MAIL:</td>
                                            <td>
                                                <%= item.email %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Password:</td>
                                            <td>
                                                <%= item.password %>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a href="/teacher-list/update/<%= item._id%>" class="btn btn-border">Change</a>
                            
                            <%if (item.isLock==false) { %>
                                <a href="/lock-user/<%= item._id %>" class="btn btn-border">Lock</a>
                                <%if (message != "undefined") { %>
                                    <div
                                      class="form-group form-control error"
                                      style="background-color: #FFCCCC; font-weight: bold; color : rgb(210, 29, 29)">
                                      <%= message %>
                                    </div>
                                    <% } %>
                            <% } %>
                                <%if (item.isLock==true) { %>
                                    <a href="/lock-user/<%= item._id %>" class="btn btn-border">Un Lock</a>
                                    <%if (message != "undefined") { %>
                                        <div
                                          class="form-group form-control error"
                                          style="background-color: #FFCCCC; font-weight: bold; color : rgb(210, 29, 29)">
                                          <%= message %>
                                        </div>
                                        <% } %>
                            <% } %>
                           
                        </div>
                        <% });} %>
                </div>
            </div> 
        </div>
      
      
        <%- include("partials/script") %>
            <footer>
                <%- include('partials/footer'); %>
            </footer>

</html>