<!DOCTYPE html>
<html>

<head>
    <%- include ('partials/head');%>
</head>
<%- include("partials/loader")%>
    <%- include ('partials/header');%>
        <div id="tt-pageContent">
            <div class="container-indent">
                <div class="container container-fluid-custom-mobile-padding">
                    <div class="row no-gutters">
                        <div class="col-12 col-sm-6 col-md-8">
                            <video id="MY_VIDEO_1" class="video-js vjs-default-skin" controls preload="auto" width="720"
                                height="480" poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
                                <source src="/videos/<%= courses.chapter[section].lesson[lesson].video %>"
                                    type='video/mp4'>
                                <p class="vjs-no-js">To view this video please enable JavaScript,
                                    and consider upgrading to a web browser that <a
                                        href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5
                                        video</a></p>
                            </video>
                        </div>
                        <div class="col-6 col-md-4">
                            <a class="navbar-brand" href="#">Course Detail</a>

                            <nav class="nav nav-pills flex-column">
                                <% if (courses.chapter!=[]){%>
                                    <% courses.chapter.forEach((chapter, chapterIndex)=>{%>
                                        <a class="nav-link" href="#">
                                            <%= chapter.name %>
                                        </a>
                                        <nav class="nav nav-pills flex-column">
                                            <% chapter.lesson.forEach((lesson, lessonIndex)=>{%>
                                                <a class="nav-link ml-3 my-1"
                                                    href="/user-study/<%=courses._id%>/<%=chapterIndex%>/<%=lessonIndex%>">
                                                    <%= lesson.name %>
                                                </a>
                                                <%});%>
                                        </nav>
                                        <%});%>
                                            <%}%>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <%- include("partials/script") %>
            <footer>
                <%- include('partials/footer'); %>
            </footer>

</html>